# Python
__pycache__/
*.py[cod]
*.log

# Virtual envs
venv/
env/

# Django
*.sqlite3
/db.sqlite3
/staticfiles/
/media/

# Environment
.env
*.env

# VSCode
.vscode/

# Migrations
**/migrations/
!*/migrations/__init__.py

# System
.DS_Store
Thumbs.db
